@font-face {
  font-family: clfish;
  src: url("../font/CLFISH_Regular.ttf");
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: clfish !important;
  margin: 0;
  background: #F5F5F5;
}
h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a{
  font-family: clfish !important;
}
/* font size */
.fs-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.fs-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
}

.fs-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.fs-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.fs-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.fs-22 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.fs-24 {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}
.fs-28 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36.5px;
}
.fs-32 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40.5px;
}

.fs-100 {
  font-size: 100px;
  font-weight: 700;
  line-height: 121px;
}

/* font weight */

.fw-700 {
  font-weight: 700;
}

/* color */

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

/* align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* grid */
.fish-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.col-50 {
  flex: 0 0 auto;
  width: 50%;
}

.col-25 {
  flex: 0 0 auto;
  width: 25%;
}

.fish-d-flex {
  display: flex;
}

.a-i-center {
  align-items: center;
}

/* padding */

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pr-50 {
  padding-right: 50px;
}

.pl-50 {
  padding-left: 50px;
}


/* custom */

.fish-header {
  background-color: #000D39;
  transition: 0.5s;
  top: -150px;
}

.fish-header.fixed {
  position: fixed;
  width: 100%;
  transition: 0.5s;
  top: 0;
  z-index: 100;
}

.nav-menu {
  flex: 0 0 auto;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.nav-menu .list-nav-menu {
  list-style: none;
  display: flex !important;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.nav-menu .list-nav-menu li{
  position: relative;
  margin: 0;
}
.nav-menu .list-nav-menu li a {
  color: #ffffff;
  padding: 40px 20px;
  display: block;
  text-decoration: none;
}
.nav-menu .list-nav-menu li a i{
  line-height: 0;
  display: none;
}
.nav-menu .list-nav-menu li a:hover{
  color: #f7a800;
}
.nav-menu .list-nav-menu li:hover ul{
  pointer-events: initial;
  opacity: 1;
  transform: translateY(0px);
}

.nav-menu .list-nav-menu li ul{
  list-style: none;
  position: absolute;
  background: #000D39;
  width: 260px;
  padding: 10px 5px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  z-index: 100;
  left: initial;
  max-height: fit-content;
  border: 0;
}
.nav-menu .list-nav-menu li ul li a {
  padding: 10px 10px;
  transition: 0.5s;
  text-transform: initial;
}
.nav-menu .list-nav-menu li ul li a:hover{
  background: #f7a800;
  padding-left: 20px;
  color: #ffffff;
}
.nav-menu .list-language{
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 25px;
  margin-top: -5px;
}
.nav-menu .list-language li{
  margin: 0 5px;
}

.header-logo {
  flex: 0 0 auto;
  width: 20%;
}
.header-logo img{
  width: 66px;
}
.header-logo span {
  margin-right: 15px;
}
.header-logo a{
  color: #ffffff;
  text-decoration: none;
  justify-content: center;

}
.menu-mobile {
  display: none;
}

.bg-nav-menu {
  display: none;
}

/* section */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* .section-video video{
  width: 100%;
  height: 100%;
} */
/* footer */
.fish-footer {
  padding: 50px 15px;
  border-top: 3px solid #000D39;
}

.container-1024 {
  max-width: 1024px;
  margin: auto;
}

.container-1480 {
  max-width: 1480px;
  margin: auto;
}

.list-nav-link ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

.list-nav-link ul li {
  margin: 15px 0;
}

.list-nav-link ul a {
  color: #000000;
  text-decoration: none;
}

.list-nav-link-title {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
  margin-top: 0;
  letter-spacing: 1.4px;
}

.dowload-app {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.list-app a {
  text-decoration: none;
}

.list-app a img {
  margin: 0 5px;
}

.copy-right {
  font-size: 14px;
  margin-top: 70px;
}

/* post */

.post {
  padding: 50px 100px;
}

.post-info {
  background: #ffffff;
  text-align: center;
  display: block;
  color: #000000;
  text-decoration: none;
}
.post-info:hover{
  color: #000000;
}

.post-info:hover button{
  background-color: #f2faff;
}

.post-info h5 {
  margin-bottom: 0;
  padding-top: 36px;
  margin-top: 0;
  font-weight: 400;
  
}

.post-info p {
  margin-top: 8px;
  margin-bottom: 20px;
}

.post-info button {
  padding: 6px 10px;
  margin-bottom: 27px;
  background: transparent;
  border: 1px solid rgb(207, 207, 207);
  color: rgb(0, 113, 206);
  margin-right: 0;
  font-size: 15px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: normal; 
  line-height: 1;
}

.post-info img {
  display: none;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.post .col-50 {
  padding: 15px;
}

.post .fish-row {
  margin: 0 -15px;
}

/* stock */

.stock {
  padding: 50px 220px;
  background: #ffffff;
}

.text-info h5 {
  margin: 0;
}

.text-info p {
  margin: 40px 0 30px;
}

.text-info a {
  text-decoration: none;
}

.price-stock {
  font-size: 60px;
  line-height: 90px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.type-stock p {
  margin: 0;
}

.type-stock p:first-child {
  margin-right: 100px;
}

.text-stock {
  margin-top: 0;
  padding-bottom: 10px;
}

.info-stock {
  padding-left: 170px;
}

/* with us */
.with-us {
  padding: 50px 0;
}

.bg-with-us {
  background-size: cover;
  background-position: center;
}

.info-with-us {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding: 120px 120px 120px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

.info-with-us .text-info {
  max-width: 500px;
}

/* about product */
.about-product {
  padding: 50px 220px;
}

.title-our {
  margin-bottom: 30px;
}

/* slider */
.slider {
  padding: 0px 220px;
  position: relative;
}
.slider .logo-slider .slick-list img{
  height: 100px;
  object-fit: cover;
  margin: auto;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  margin: 0;
  cursor: pointer;
}

.slick-prev {
  left: -155px;
}

.slick-next {
  right: -155px;
}

/* responsive */
@media only screen and (max-width: 1700px) {
  .nav-menu {
    width: 80%;
  }

  .stock {
    padding: 50px 100px;
  }

  .info-stock {
    padding-left: 120px;
  }

  .about-product {
    padding: 50px 100px;
  }

  .slider {
    padding: 0px 100px;
  }

  .slick-prev {
    left: -55px;
  }

  .slick-next {
    right: -55px;
  }
 
  .nav-menu .list-nav-menu li a{
    padding: 40px 15px;
  }
}

@media only screen and (max-width: 1300px) {
  .nav-menu {
    width: 80%;
  }

  .post {
    padding: 50px 15px;
  }

  .stock {
    padding: 50px 15px;
  }


  .type-stock p:first-child {
    margin-right: 70px;
  }

  .about-product {
    padding: 50px 15px;
  }

  .post-info h5{
    font-size: 22px;
  }
  .post-info p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .post-info img {
    display: block;
  }
  .post-info video {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .menu-mobile {
    display: block;
  }

  .menu-mobile img {
    width: 24px;
    filter: invert();
    cursor: pointer;
  }

  .nav-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
  }

  .bg-nav-menu {
    display: block;
  }

  .nav-menu .bg-nav-menu {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .nav-menu .bg-nav-menu img {
    width: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    filter: invert();
    cursor: pointer;
  }

  .nav-menu .list-nav-menu {
    flex-direction: column;
    position: relative;
    background: #000000;
    width: 280px;
    top: 0;
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
  }
  .nav-menu .list-language {
    display: flex;
    list-style: none;
    margin: 0;
    background: #000000;
    width: 280px;
    height: 100%;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
  }

  .nav-menu .list-nav-menu li a {
    margin: 0;
    padding: 12px 0;
  }
  .nav-menu .list-nav-menu li ul{
    opacity: 1;
    pointer-events: initial;
    transform: translateY(0);
    position: relative;
    background: transparent;
    display: none;
    transition: initial;
    padding: 5px 0;
  }
  .fish-header-container {
    justify-content: space-between;
    padding: 15px 15px;
  }

  .header-logo {
    width: auto;
  }

  .header-logo span {
    display: none;
  }


  .info-stock {
    padding-left: 70px;
  }

  .type-stock p:first-child {
    margin-right: 50px;
  }

  .about-product .pr-50 {
    padding-right: 15px;
  }

  .about-product .pl-50 {
    padding-left: 15px;
  }

  .info-with-us {
    padding: 100px 50px 100px 15px;
  }

  .slider {
    padding: 0px 70px;
  }

}

@media only screen and (max-width: 768px) {

  .col-50,
  .col-25 {
    width: 100%;
  }

  .dowload-app {
    display: initial;
    text-align: left;
  }

  .list-app a img:first-child {
    margin-left: 0;
  }

  .list-nav-link {
    margin-bottom: 20px;
  }

  .info-stock {
    padding-left: 0px;
    padding-top: 50px;
  }

  .info-with-us {
    padding: 100px 15px 100px 15px;
  }

  .about-product .pr-50 {
    padding-right: 0;
  }

  .about-product .pl-50 {
    padding-left: 0;
    padding-top: 50px;
  }
  
}

@media only screen and (min-width: 992px) {
  .nav-menu {
    display: flex !important;
  }
  .nav-menu .list-nav-menu li ul{
    display: initial !important;
  }
}